@use 'theme.generated' as theme_generated;
$color-theme: theme_generated.$color-theme;
@use 'materialize-css/sass/components/color-variables' as materialize_color;
$primary-color: var(--wulin-primary-color,materialize_color.color($color-theme, 'lighten-2')) !default;
$secondary-color: var(--wulin-secondary-color, materialize_color.color($color-theme, 'base')) !default;

@use 'material-icons/iconfont/material-icons';
@use 'materialize-css/sass/materialize';

@import 'slickgrid/dist/styles/css/slick.grid';
@import 'slickgrid/dist/styles/css/slick-default-theme';

@import 'mixins';
@import 'lib/flatpickr_material_blue';
@import 'overrides/flatpickr.override';
@import 'overrides/materialize.overrides';

@import 'menu';
@import '_base';
@import 'body';
@import 'checkbox';
@import 'color_columns';
@import 'context_menu';
@import 'editor';
@import 'form';
@import 'grid_states';
@import 'grid.cell';
@import 'grid.color';
@import 'grid.columnpicker';
@import 'grid.container';
@import 'grid.header';
@import 'grid.table.header';
@import 'nav';
@import 'panel';
